button {
	background-color: #fff;
	color: #ec1d45;
	font-size: 20px;
	border: 3px solid #4c4c4c;
	border-radius: 10px;
	padding: 5px;
	margin-top: 15px;
}

button:hover {
	background-color: #ec1d45;
	color: #fff;
}

#custom-alert {
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	padding-top: 10px;
}