.container {
	color: #4c4c4c;
	padding-top: 10px;
}

thead {
	background-color: #4c4c4c;
	color: white;
}

td a {
	color: #ec1d45;
}

td a:hover, td a:active {
	color: #2b3b82;
}

.disabled {
	pointer-events: none;
}



