body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.bg {
	background-image: url("../image/background.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation-name: fadein;
	animation-duration: 2s;
}

@keyframes fadein {
	from {opacity: 0.5;}
	to {opacity: 1;}
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.headline {
  background-color: #4c4c4c;
  color: #fff;
  padding: 18px;
  font-family: 'Bad Script';
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 10px;
}

.enter {
	position: absolute;
	left: 0;
	top: 70%;
	width: 100%;
	text-align: center;
	color: #000;
}

button {
	background-color: #fff;
	color: #ec1d45;
	font-size: 20px;
	border: 3px solid #4c4c4c;
	border-radius: 10px;
	padding: 5px;
}

button:hover {
	background-color: #ec1d45;
	color: #fff;
	cursor: pointer;
}