.disabled {
	pointer-events: none;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
}

.form-signin h2 {
	border: 5px solid #4c4c4c;
	border-radius: 50px;
	background-color: #ec1d45;
	color: white;
	padding: 8px;
}

input[type="email"], input[type="password"] {
	padding: 10px;
	width: 100%;
	border: 2px solid #4c4c4c;
    border-radius: 4px;
    font-size: 16px;
	margin: 2px;
}

#custom-alert {
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	padding-top: 10px;
}