.container {
	color: #4c4c4c;
	padding-top: 10px;
}

.container h1 {
	text-align: center;
}

.container h2 {
	border: 2px solid #4c4c4c;
	border-radius: 50px;
	background-color: #4c4c4c;
	color: white;
	padding: 8px;
}

.container h5 {
	color: #ec1d45;
} 

#profilePic {
	width: 200px;
	height: auto;
	border-radius: 50%;
}

thead {
	background-color: #4c4c4c;
	color: white;
}

td {
	color: #ec1d45;
}

input[type="file"] {
	margin: 0 auto;
}