.disabled {
	pointer-events: none;
}

#postTitle {
	text-align: center;
	border: 2px solid #4c4c4c;
	border-radius: 50px;
	background-color: #4c4c4c;
	color: white;
	padding: 8px;
}

#postedBy {
	color: #ec1d45;
	text-align: center;
}

#postContent {
	border-bottom: 5px solid #ec1d45;
	padding: 20px 0;
}

#comment_list img {
	height: 40px;
	width: 40px;
}

#comment_btn {
	margin-top: 10px;
}